<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook 목록 페이지
            <!--            <span>
                            <a th:href="@{/templates/board/register}">
                                <button type="button" class="btn btn-outline-primary">등록</button>
                            </a>
                        </span>-->
        </h1>

    </th:block>

</th:block>
</html>